@page
@model SE160956_KeyboardShop_Assignment.APIClient.Pages.AdminArea.Products.DetailsModel

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitsInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitsInStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductStatus)
        </dt>
        <dd class="col-sm-10">
            @{
                string statusText = "";
                switch (Model.Product.ProductStatus)
                {
                    case 0:
                        statusText = "Tạm ngưng giao dịch";
                        break;
                    case 1:
                        statusText = "Có thể bán";
                        break;
                    default:
                        statusText = "Trạng thái không xác định";
                        break;
                }
            }
            @statusText
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Supplier.SupplierAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
